.login-button {
    margin-top: 10px;
}

.AuthRegTabs {
    .navbar-nav {
        flex-direction: row;
        .nav-item {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

}