.main {
    display: flex;
    flex-grow: 1;

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 0;
        overflow: hidden;
        transition-duration: 400ms;
        border-right: 1px solid #cccccc;
    }

    .sidebar-show {
        width: 25%;
    }

    .content {
        flex-grow: 1;
    }
}
